.card-container {
  height: 470px;
  width: 330px;
  border: .5px #CDCDCD solid;
  border-radius: 5px;
  margin: 10px;
}
.card-head {
  display: flex;
  margin-top: 10px;
}
.pokemon-name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  flex: .8;
  padding-left: 20px
}
.type-logo {
  flex: .20;
  display: flex;
  padding-left: 30px;
  padding-right: 5px;
}
.card-avatar {
  text-align: center
}
.card-details {
  margin: 10px
}
.details-top {
  flex: .5;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2.5px;
}
.single-stat {
  justify-content: center;
  flex: 1;
  display: flex;
  padding: 2.5px;
  font-size: 17px;
  font-weight: bold;
}
.details-bottom {
  flex: 1.5;
  flex-wrap: wrap;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2.5px;
  padding-left: 12px;
  padding-right: 12px;
}
.stats-details {
  border-radius: 100px;
  text-align: center;
  min-width: 60px;
  flex: 1;
  margin: 5px;
  padding: 1px;
}